body {
    background-color: #0f1014; /* puhutv arka plan rengi */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}



.movie-card-sm {
    background: transparent;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.movie-card-sm:hover {
    transform: scale(1.05);
}

.poster-wrapper {
    position: relative;
    aspect-ratio: 2/3;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.poster-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    display: block;
    margin-top: 10px;
}

.score-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #ffc107;
    padding: 2px 6px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}